@charset "utf-8";
@import url('reset.css');

/* 타이포 */
html {
    font-size: 10px;
}

body {
    font: 1.5rem/1.8 'Lato', 'Noto Sans KR', sans-serif;
    color: #777;
}

h1 {
    font-size: 2.4rem;
    color: #fff;
    letter-spacing: 1rem;
    text-align: center;
}

h2 {
    font-size: 3.6rem;
    color: #fff;
    letter-spacing: 1rem;
    text-align: center;
}

h3 {
    font-size: 2.4rem;
    text-align: center;
}

button {
    font-size: 1.5rem;
    color: #fff;
}

button:hover {
    color: #000;
}

/* 헤더 */
/* 섹션1 */
/* 섹션2 */
/* 섹션3 */
/* 섹션4 */
/* 푸터 */
